* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    background-color: #FFFCFF;
    font-family: 'Saira Condensed', sans-serif;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    position: relative;
    height: 120vh;
    background-image: url("../../images/backgrounds/calendarnav.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center right;
}

header h1,
header h2 {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    color: white;
    font-size: 65px;
    font-family: 'Saira Semi Condensed', sans-serif;
    text-transform: uppercase;
}

header h2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.formAndCalendarContainer {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 2160px;
    margin: 30px auto;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 0 50px;
    font-size: 28px;
}

.form label {
    margin-right: 40px;
}

.form input {
    margin: 10px auto 20px;
    width: 100%;
    height: 35px;
}

.form button {
    margin: 10px 20px;
    width: 100px;
    height: 50px;
    font-size: 22px;
}

#container {
    padding: 5px;
    width: 60vw;
    min-width: 720px;
    border: 5px solid #30336b;
}

button {
    padding: 5px;
    width: 75px;
    border: none;
    border-radius: 5px;
    outline: none;
    box-shadow: 0px 0px 2px gray;
    color: white;
    cursor: pointer;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 26px;
    font-family: sans-serif;
}

#monthDisplay {
    padding: 5px;
    width: 40%;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: #be2edd;
    box-shadow: 0px 0px 2px #e056fd;
    color: white;
    cursor: pointer;
}

#header button {
    background-color: #e056fd;
}

#weekdays {
    width: 100%;
    display: flex;
    color: #be2edd;
    font-family: 'Saira', sans-serif;
}

#weekdays div {
    padding: 10px;
    width: 14%;
}

#calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Saira', sans-serif;
}

.day {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    margin: 0.5%;
    width: 13%;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #be2edd;
    background-color: white;
    cursor: pointer;
}

.day:hover {
    background-color: #e8faed;
}

.day+#currentDay {
    background-color: #e8f4fa;
}

.event {
    overflow: hidden;
    padding: 3px;
    max-height: 55px;
    border-radius: 5px;
    background-color: #58bae4;
    color: white;
    font-size: 10px;
}

.padding {
    box-shadow: none !important;
    background-color: #FFFCFF !important;
    cursor: default !important;
}

#newEventModal,
#deleteEventModal {
    display: none;
    position: absolute;
    top: 130vh;
    left: calc(70% - 175px);
    z-index: 20;
    padding: 25px;
    width: 350px;
    border-radius: 5px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    font-family: sans-serif;
}

h3 {
    margin-bottom: 5px;
    border: 1px solid #30336b;
    background-color: #f5f6fa;
    padding: 5px;
    border-radius: 5px;
    color: #30336b;
    text-align: center;
}

#eventTitleInput {
    box-sizing: border-box;
    margin-bottom: 25px;
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 0px 3px gray;
}

#eventTitleInput.error {
    border: 2px solid red;
}

#cancelButton,
#closeButton,
.inputCancel {
    border: 1px solid #be2edd;
    background-color: #e8f4fa;
    color: #be2edd;
}

#saveButton,
.inputSave {
    background-color: #be2edd;
    color: white;
}

.warn {
    color: #f4002d;
}

#deleteButton {
    background-color: #6F1E51;
    color: white;
}

#eventText {
    padding: 5px 0 15px 10px;
    font-size: 20px;
    color: #2f3542;
}

#modalBackDrop {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
}

.goBack {
    position: fixed;
    bottom: 5vh;
    right: 3vw;
    width: 10vw;
    height: 5vh;
    background-color: transparent;
}

.goBack a {
    display: block;
    height: 100%;
    line-height: 4vh;
    width: 100%;
    font-size: 2rem;
    background-color: transparent;
    text-decoration: none;
    -webkit-text-stroke: .2px lightgray;
}